<form class="form hidden" data-form="register">
  <label>
    <span data-i18n="reg.full_name">Your Full Name</span>
    <input
      type="text"
      name="full_name"
      placeholder="Jack Martin"
      data-i18n-placeholder="reg.full_name_placeholder"
      autocomplete="name"
    />
  </label>
  <label>
    <span data-i18n="reg.emirates_id">Emirates ID</span>
    <input
      type="text"
      name="emirates_id"
      placeholder="Etisal Technical Services LLC"
      data-i18n-placeholder="reg.emirates_id_placeholder"
    />
  </label>
  <label>
    <span data-i18n="reg.dob">Date of Birth</span>
    <input
      type="date"
      name="date_of_birth"
      placeholder="10-Oct-2000"
      data-i18n-placeholder="reg.dob_placeholder"
      inputmode="numeric"
    />
  </label>
  <label>
    <span data-i18n="reg.whatsapp">Your WhatsApp Number</span>
    <input
      type="tel"
      name="whatsapp_number"
      inputmode="numeric"
      placeholder="123456789"
      data-i18n-placeholder="reg.whatsapp_placeholder"
      autocomplete="tel"
    />
  </label>
  <label>
    <span data-i18n="reg.company_name">Your Company Name</span>
    <input
      type="text"
      name="company_name"
      placeholder="Company Name"
      data-i18n-placeholder="reg.company_name_placeholder"
    />
  </label>
  <label>
    <span data-i18n="reg.company_phone">Your Company Phone Number</span>
    <input
      type="tel"
      name="company_phone"
      inputmode="numeric"
      placeholder="987654321"
      data-i18n-placeholder="reg.company_phone_placeholder"
    />
  </label>
  <button class="cta" type="submit">
    <span data-i18n="reg.generate">Generate User Name &amp; Password</span>
  </button>
</form>
